{% extends 'AdminBundle:Default:Layout.html.twig' %}

{% block page_title %}Catégories - Modifier{% endblock %}


{% block content %}
    {{ form_start(form, { attr: { class: 'form-horizontal form-admin' } }) }}
    {{ form_errors(form) }}

    <div class="form-group{% if not form.name.vars.valid %} has-error{% endif %}">
        <label for="{{ form.name.vars.id }}" class="col-sm-2 control-label">Nom</label>
        <div class="col-sm-10">
            {{ form_widget(form.name) }}
            {{ macros.form_errors(form.name) }}
        </div>
    </div>

    <div class="form-group{% if not form.photo.vars.valid %} has-error{% endif %}">
        <label for="{{ form.imageupload.vars.id }}" class="col-sm-2 control-label">Photo</label>
        <div class="col-sm-10 containerupload">
            {% if not category.photo is null %}
                <a href="{{ asset('depot/photos/'~category.getPhoto().getTotalFileName()) }}">Voir l'image</a><br />
            {% endif %}
            <span class="btn btn-default fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Sélectionner une image...</span>
                {{ form_widget(form.imageupload, { 'attr': { 'data-field': form.photo.vars.id } } ) }}
            </span>
            {{ macros.form_errors(form.photo) }}
        </div>
    </div>

    <div class="form-group{% if not form.categoryParent.vars.valid %} has-error{% endif %}">
        <label for="category_categoryParent" class="col-sm-2 control-label">Catégorie</label>
        <div class="col-sm-10 checkbox-list">
            {{ form_widget(form.categoryParent) }}
            {{ macros.form_errors(form.categoryParent) }}
        </div>
    </div>

    <div class="form-group{% if not form.display.vars.valid %} has-error{% endif %}">
        <label for="category_display" class="col-sm-2 control-label">Active</label>
        <div class="col-sm-10">
            {{ form_widget(form.display) }}
            {{ macros.form_errors(form.display) }}
        </div>
    </div>

    <div class="form-group{% if not form.zoom.vars.valid %} has-error{% endif %}">
        <label for="category_zoom" class="col-sm-2 control-label">Visible dans le zoom de l'accueil</label>
        <div class="col-sm-10">
            {{ form_widget(form.zoom) }}
            {{ macros.form_errors(form.zoom) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Sauvegarder</button>
            <a href="{{ path('tleroch_news_admin') }}" class="btn btn-danger">Annuler</a>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('.fileinput-button input[type="file"]').on('change', function (e) {
                var elm = $(this);

                var data = new FormData();
                data.append('file', e.target.files[0]);

                $.ajax({
                    url: '{{ path('tleroch_photo_upload') }}',
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    dataType: 'json',
                    data: data,
                    success: function (data)
                    {
                        if (data.success)
                        {
                            if (data.mimetype.substr(0, 5) === 'image')
                            {

                            }

                            elm.parents('.containerupload').find('a').remove();

                            $('#' + elm.data('field')).val(data.file);
                            elm.parents('.containerupload').prepend('<a href="' + data.url + '">Voir le fichier</a><br />');
                        } else
                        {

                        }
                    }
                });
            });

        {#            $('#{{ form.content.vars.id }}').redactor();#}
            });
    </script>
{% endblock %}